#OS files
[Tt]humbs.db
*.DS_Store

*.o
*.a
*.stackdump


# Visual Studio
.vs
*.obj
*.dll
*.exe
*.ncb
*.vcproj.*
*.vcxproj.filters
*.suo
*.sdf
*.opensdf
*.pch
*.pch.*
*.gch
*.aps
*.vscode

Debug
Release
All

vcc/coco3.rom
vcc/disk11.rom
*.opendb
*.db
*.user
*.swp
*.*~
*~
