#OS files
[Tt]humbs.db
*.DS_Store

*.o
*.a
*.stackdump


# Visual Studio
*.obj
*.dll
*.exe
*.ncb
*.vcproj.*
*.vcxproj.filters
*.suo
*.sdf
*.opensdf
*.pch
*.pch.*
*.gch
*.aps
Vcc.VC.VC.opendb
Vcc.VC.db


Debug
Release
All

coco3.rom
disk11.rom
_build/osx/vcc.xcworkspace/xcuserdata
